.formContent {
    height: 300px;
    gap: 2rem;
}

.nameSurname {
    display: flex; 
    gap: 2rem;
} 

.fullName {
    width: 250px;
}

.emailPassword {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.credentials {
    width: 517px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 800px) {
    .nameSurname {
        flex-direction: column;
        justify-content: none;
        margin-bottom: 5.2rem;
        max-width: 312px;
    }

    .fullName,
    .credentials {
        max-width: 312px;
    }

    .fullName {
        width: 100%;
    }
}