<<<<<<< HEAD
.nameLastname {
=======
.nameSurname {
>>>>>>> 3d483d81ceda5f56e563b783fc0f835391f1b2b4
    display: flex; 
    gap: 2rem;
    margin-bottom: 1rem;
} 

.fullName {
    width: 250px;
}

.emailPassword {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.credentials {
    width: 517px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 800px) {
    .nameLastname {
        flex-direction: column;
        justify-content: none;
        max-width: 312px;
        margin-bottom: 1rem;
    }

    .fullName,
    .credentials {
        max-width: 312px;
    }

    .fullName {
        width: 100%;
    }
}