.form {
    gap: 35px;
}

.formContent {
    gap: 30px;
}

.nameSurname {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 56px;
    flex-shrink: 0;
    gap: 1.8rem;
}

.fullName {
    width: 250px;
}

.emailPassword {
    display: flex;
    width: 100%;
    height: 128px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0; 
    gap: 1.5rem;
}

.credentials {
    width: 517px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 800px) {
    .nameSurname {
        flex-direction: column;
        justify-content: none;
        margin-bottom: 5.2rem;
        max-width: 312px;
    }

    .fullName,
    .credentials {
        max-width: 312px;
    }

    .fullName {
        width: 100%;
    }
}