#cadastro {
    text-decoration: none;
    cursor: pointer;
    color: #818388;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-top: 2px;
}