*{
    margin: 0;
    padding: 0;
}
 
.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    gap: 103px;
}

.img{
    width: 100%;
    max-width: 525px;
}

.imgContent{
    width: 100%;
}

.h3 {
    color: var(--Color-Brand-Primria-Primary-90, var(--Color-Brand-Primria-Primary-90, #224));
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    max-width: 540px;
}

.h5 {
    color: var(--Neutral-Colors-Neutral-110, #515255);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#cadastro {
    text-decoration: none;
    cursor: pointer;
    color: #818388;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-top: 2px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 517px;
    gap: 16px;
}

#button {
    color: #FCFDFF;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
}

#button:hover {
    background-color: #CC4400;
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .img {
      display: none;
    }
    .container {
        height: 100vh;
        max-width: 312px;
    }
    .h3 {
        font-size: 24px;
        line-height: 24px;
    }
    .h5 {
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 16px;
    }
}